@import '../component-styles/mixins.scss';

.ColorControlPanel__container {
  width: 96%;
  flex: 1;
  height: 6em;

  @include phone-large {
    height: 8em;
    margin-top: .5em;
  }

  @include tablet-portrait {
    margin-bottom: .5em;
  }
}
