@import '../component-styles/mixins.scss';

.ColorControlPanel__container {
  width: 96%;
  flex: 1;
  height: 6em;
  display: block;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

  @include low-res {
    height: 7em;
  }

  @include phone-large {
    height: 8em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
  }

  @include tablet-portrait {
    margin-bottom: 0.3em;
  }
}
