.ColorControlPanel__container {
  width: 96%;
  flex: 1;
  height: 6em;
  display: block;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em; }

@media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi) {
  .ColorControlPanel__container {
    height: 7em; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .ColorControlPanel__container {
    height: 8em;
    margin-top: 0.2em;
    margin-bottom: 0.1em; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .ColorControlPanel__container {
    margin-bottom: 0.3em; } }
