@import '../base-styles.scss';

.ColorCodeComponentDisplay {
  font-size: 2rem; //2.5
  line-height: 1.1;
  font-family: 'Droid Sans Mono', monospace;
  margin: 0 0.1rem;

  &--red {
    color: red;
  }

  &--green {
    color: green;
  }

  &--blue {
    color: blue;
  }

  &--placeholder {
    color: $grey-5;
  }
}
