@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

.ColorCodeComponentDisplay {
  font-size: 2rem; 
  line-height: 1.1;
  font-family: 'Droid Sans Mono', monospace;
  margin: 0 0.1rem;

  @include phone-large {
    font-size: 2.5rem;
  }

  &--red {
    color: red;
  }

  &--green {
    color: green;
  }

  &--blue {
    color: blue;
  }

  &--placeholder {
    color: $grey-5;
  }
}
