@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
.ColorCodeComponentDisplay {
  font-size: 2em;
  line-height: 1.1;
  font-family: 'Droid Sans Mono', monospace;
  margin: 0 0.04em; }
  @media (min-width: 25em) {
    .ColorCodeComponentDisplay {
      font-size: 2.5em; } }
  .ColorCodeComponentDisplay--red {
    color: red; }
  .ColorCodeComponentDisplay--green {
    color: green; }
  .ColorCodeComponentDisplay--blue {
    color: blue; }
  .ColorCodeComponentDisplay--placeholder {
    color: darkgrey; }
