$global-margin: 1rem;
$button-group-menu-radius: .5rem;//rem-calc(10);
$button-group-menu-color: #909090; //$secondary-color;
$button-group-menu-margin-bottom: 0; // $global-margin;

.ButtonGroupMenu {
  display: flex;
  width: 80%;
  border: 1px solid $button-group-menu-color;
  border-radius: $button-group-menu-radius;
  overflow: hidden;
  margin-bottom: $button-group-menu-margin-bottom;
  // margin: 0;

  .button {
    background: transparent;
    color: $button-group-menu-color;
    margin-bottom: 0;
    flex: 1 0 0;
    font-size: 1.3rem;
    padding: .6rem;

    &:nth-child(1n + 1) {
      border-left: 1px solid $button-group-menu-color;
    }

    &:nth-child(1) {
      border-left: none;
    }

    &:hover, &:focus {
      background: #eee;
      color: $button-group-menu-color;
      outline: 0;
    }

    &.is-active {
      background: $button-group-menu-color;
      color: white;
    }
  }
}

.ButtonGroupMenu--plus-minus {
  display: flex;
  width: 80%;
  // border: 1px solid $button-group-menu-color;
  border-radius: $button-group-menu-radius;
  overflow: hidden;
  margin-bottom: $button-group-menu-margin-bottom;
  // margin: 0;
  align-items: flex-start;

  .button {
    background: transparent;
    color: $button-group-menu-color;
    margin-bottom: 0;
    flex: 1 0 0;
    font-size: 1.8rem;
    padding: 0 0 .2rem 0;

    &:hover, &:focus {
      background: #eee;
      color: $button-group-menu-color;
      outline: 0;
    }

    &:active {
      background: #ccc;
      color: $button-group-menu-color;
      outline: 0;
    }
  }
}
