@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$button-group-menu-radius: $standard-border-radius;
$button-group-menu-color: $grey-3;
$button-group-menu-margin-bottom: 0;
$button-active-color: $grey-6;
$button-hover-color: $grey-8;
$button-color: $grey-2;

.ButtonGroupMenu {
  display: flex;
  width: 92%;
  border: 1px solid $button-group-menu-color;
  border-radius: $button-group-menu-radius;
  overflow: hidden;
  margin-bottom: $button-group-menu-margin-bottom;

  .button {
    background: transparent;
    color: $button-group-menu-color;
    margin-bottom: 0;
    flex: 1 0 0;
    font-size: 1.1em;
    padding: .35em;

    @include phone-large {
      font-size: 1.3em;
      padding: .5em;
    }

    &:nth-child(1n + 1) {
      border-left: 1px solid $button-group-menu-color;
    }

    &:nth-child(1) {
      border-left: none;
    }

    &:hover, &:focus {
      background: $button-hover-color;
      color: $button-group-menu-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: white;
      outline: 0;
    }

    &.is-active {
      background: $button-group-menu-color;
      color: white;
    }

  }
}

.ButtonGroupMenu--plus-minus {
  display: flex;
  width: 100%;
  border-radius: $button-group-menu-radius;
  overflow: hidden;
  margin-bottom: $button-group-menu-margin-bottom;
  align-items: flex-start;

  .button {
    background: transparent;
    color: $button-group-menu-color;
    margin-bottom: 0;
    flex: 1 0 0;
    font-size: 1.8em;
    padding: 0 .5rem .2rem .5rem;

    @include phone-large {
      padding-bottom: .3rem;
    }

    &:hover, &:focus {
      background: $button-hover-color;
      color: $button-group-menu-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: $button-group-menu-color;
      outline: 0;
    }
  }
}
