.ButtonGroupMenu {
  display: flex;
  width: 92%;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0; }

.ButtonGroupMenu .button {
  background: transparent;
  color: #707070;
  margin-bottom: 0;
  flex: 1 0 0;
  font-size: 1.1em;
  padding: .35em; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .ButtonGroupMenu .button {
    padding: .5em; } }

.ButtonGroupMenu .button:nth-child(1n + 1) {
  border-left: 1px solid #707070; }

.ButtonGroupMenu .button:nth-child(1) {
  border-left: none; }

.ButtonGroupMenu .button:hover, .ButtonGroupMenu .button:focus {
  background: #333;
  color: #707070;
  outline: 0; }

.ButtonGroupMenu .button:active {
  background: dimgrey;
  color: white;
  outline: 0; }

.ButtonGroupMenu .button.is-active {
  background: #707070;
  color: black; }

.ButtonGroupMenu--plus-minus {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0;
  align-items: flex-start; }

.ButtonGroupMenu--plus-minus .button {
  background: transparent;
  color: #707070;
  margin-bottom: 0;
  flex: 1 0 0;
  font-size: 1.8em;
  padding: 0 .5rem .2rem .5rem; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .ButtonGroupMenu--plus-minus .button {
    padding-bottom: .3rem; } }

.ButtonGroupMenu--plus-minus .button:hover, .ButtonGroupMenu--plus-minus .button:focus {
  background: #333;
  color: #707070;
  outline: 0; }

.ButtonGroupMenu--plus-minus .button:active {
  background: dimgrey;
  color: #707070;
  outline: 0; }
