@import '../component-styles/fonts.scss';
@import '../component-styles/mixins.scss';
@import '../component-styles/base-styles.scss';

$button-color: $main-color;
$button-radius: $standard-border-radius;
$button-active-color: $active-color;
$button-hover-color: $placeholder-color;

.ColorCoderMainSection__container {
  width: 100%;

  @include tablet-portrait {
    flex: 0 0 $max-width-in-portrait;
    // max-width: $max-width-in-portrait;
  }

  @include low-res {
    flex: 0 0 27em;
  }
}

.ColorCoder__demo-container {
  font-size: 0.85em;
  color: $main-color;
  margin-bottom: 1em;

  @include phone-large {
    font-size: 1em;
  }

  .ColorCoder__demo-link {
    cursor: pointer;
    text-decoration: underline;
    color: $souvlaki-red;

    &:active {
      color: $souvlaki-red-dark;
    }
  }
}

.ColorCoder__demo-button.button {
  background: transparent;
  color: $button-color;
  border: 1px solid $button-color;
  border-radius: $standard-border-radius;
  margin: 0;
  padding: 0.4em;
  width: 6em;
  height: 3em;
  font-size: .8em;

  @include phone-large {
    margin-left: 0.6rem;
    padding: 0.8em;
    width: 8em;
    height: 3em;
    font-size: .9em;
  }

  &:hover, &:focus {
    background: $button-hover-color;
    color: $button-color;
    outline: 0;
  }

  &:active {
    background: $button-active-color;
    color: $button-color;
    outline: 0;
  }
}



// .ColorCoderMainSection__title {
//   font-family: 'Averia Sans Libre', sans-serif;
//   color: #333;
//   font-size: 2.3em;
//   position: relative;
//   top: 0.8em;
//   margin-top: -0.3em;
//
//   @include phone-large {
//     font-size: 3.3em;
//     top: 0.5em;
//     margin-top: -0.2em;
//   }
// }

.ColorCoderMainSection__title {
  // position: relative;
  // top: 0.8em;
  margin-top: 1em;
  margin-bottom: -1em;
  // margin

  @include phone-large {
    margin-bottom: -1.5em;
  }

  .ColorCoderMainSection__presents {
    font-family: 'Averia Sans Libre', sans-serif;
    margin-top: -1em;
    color: $main-color;
    font-size: 0.9em;
  }
}

.ColorCoder__score-message {
  margin-bottom: 0.5em;
  color: $main-color;
  font-family: 'Averia Sans Libre', sans-serif;

  @include phone-large {
    font-size: 1.3em;
  }

  .ColorCoder__score {
    font-size: 3.4em;
    text-shadow: 0.02em 0.02em $grey-0a;
    margin-top: -0.2em;

    @include phone-large {
      font-size: 4.0em;

    }
  }

  .ColorCoder__score-label {
    font-size: 1.3em;

    @include phone-large {
      font-size: 1.5em;
    }
  }

}



.ColorCoder__action-buttons {
  display: flex;
  justify-content: center;

  .button {
    flex: 0 0 40%;
    background: $button-color;
    color: white;
    margin-bottom: 0;
    // flex: 1 0 40%;
    font-size: 0.9em;
    padding: 0.7em;
    margin: 2%;
    border: 1px solid white;
    border-radius: $button-radius;

    @include phone-large {
      font-size: 1.05em;
      padding: 1em;
    }

    @include tablet-portrait {
      font-size: 1.3em;
    }

    &:hover, &:focus {
      background: $button-hover-color;
      border: 1px solid $button-hover-color;
      color: white;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      border: 1px solid $button-active-color;
      color: $main-color;
      outline: 0;
    }
  }
}
