@import '../component-styles/mixins.scss';

.UpDownControl__container {
  display: none;

  flex: 0 1 4rem;
  // width: 5.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;

  @include phone-large {
    display: flex;
  }
}

.UpDownControl__button {
  width: 48%;
}
