@import '../component-styles/mixins.scss';

.UpDownControl__container {
  display: none;

  flex: 0 1 4em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  margin: 0 0.2em;

  @include phone-large {
    display: flex;
  }

  @include low-res {
    display: flex;
  }
}

.UpDownControl__button {
  width: 48%;
}
