.UpDownControl__container {
  display: none; //flex

  flex: 0 1 4rem;
  // width: 5.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.UpDownControl__button {
  width: 48%;
}

@media (min-width: 400px) {
  .UpDownControl__container {
    display: flex;
  }
}
