@import '../component-styles/mixins.scss';
@import '../component-styles/base-styles.scss';
@import '../component-styles/fonts.scss';


.ColorCoderGuessPanel__container {
  display: flex;
  align-items: center;
  // border: 1px solid $grey-3;
  height: 6em;
  margin-top: 0.5em;

  @include phone-large {
    margin-top: 1em;
  }

  &--empty {
    justify-content: center;

    .ColorCoderGuessPanel__round-number {
      font-family: 'Averia Sans Libre';
      font-size: 2.0em;
      color: $main-color;

      @include phone-large {
        font-size: 2.5em;
      }
    }
  }

  .ColorCoderGuessPanel__points-earned {
    font-family: 'Averia Sans Libre';
    font-size: 2.8em;
    color: $main-color;
    text-shadow: 0.02em 0.02em $grey-0a;
    flex: 0 0 43.75%;
    position: relative;
    left: -0.15em;

    @include phone-large {
      font-size: 3.6em;
    }
  }
}

.ColorCoderGuessCountDisplay {
  flex: 0 0 28.125%;

  &__label {
    color: $placeholder-color;
    font-size: 1.2em;

    @include phone-large {
      font-size: 1.5em;
    }
  }

  &__count {
    color: $main-color;
    font-size: 1.8em;
    margin-top: -0.2em;

    @include phone-large {
      font-size: 2.2em;
    }
  }
}

.ColorCoderComponentsAndFeedbackDisplay {
  flex: 0 0 43.75%;
  // text-align: center;
}
