@import '../component-styles/mixins.scss';
@import '../component-styles/base-styles.scss';

.ColorCoderGuessPanel__container {
  display: flex;
  align-items: center;
  // border: 1px solid $grey-3;
  height: 6em;
  margin-top: 0.5em;

  @include phone-large {
    margin-top: 1em;
  }

  &--empty {
    justify-content: center;

    .ColorCoderGuessPanel__round-number {
      font-size: 2.5em;
      color: $grey-3;
    }
  }


}

.ColorCoderGuessCountDisplay {
  flex: 0 0 28.125%;

  &__label {
    color: $grey-3;
    font-size: 1.2em;

    @include phone-large {
      font-size: 1.5em;
    }
  }

  &__count {
    color: $grey-1;
    font-size: 1.8em;
    margin-top: -0.2em;

    @include phone-large {
      font-size: 2.2em;
    }
  }
}


.ColorCoderComponentsAndFeedbackDisplay {
  flex: 0 0 43.75%;
  // text-align: center;
}
