@import url("https://fonts.googleapis.com/css?family=Open+Sans|Averia+Sans+Libre:700");
.BinaryFractionsMain {
  transform: scale(1, 1);
  transform-origin: 50% 0%;
  margin-bottom: 2em; }
  .BinaryFractionsMain__reset-button.button {
    margin: 0.75em;
    padding: 0.75em 1.4em;
    border-radius: 0.5rem;
    border: 1px solid dimgrey;
    background: transparent;
    color: dimgrey; }
    .BinaryFractionsMain__reset-button.button:hover, .BinaryFractionsMain__reset-button.button:focus {
      background: #E9E9E9;
      color: dimgrey;
      outline: 0; }
    .BinaryFractionsMain__reset-button.button:active {
      background: lightgrey;
      color: dimgrey;
      outline: 0; }
  .BinaryFractionsMain__decimal-value {
    margin-top: 0.1em;
    font-family: 'Open Sans', sans-serif;
    color: #555; }
  .BinaryFractionsMain__bit-display {
    display: flex;
    justify-content: center; }
  .BinaryFractionsMain__dot {
    padding-top: 0.5em;
    color: #555; }
  .BinaryFractionsMain__bits-buttons-label {
    font-size: 1.5em;
    color: dimgrey; }
  .BinaryFractionsMain__add-remove-button.button {
    width: 2.6em;
    margin: 0 0.2em;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 0.5rem;
    border: 1px solid dimgrey;
    background: transparent;
    color: dimgrey; }
    .BinaryFractionsMain__add-remove-button.button:hover, .BinaryFractionsMain__add-remove-button.button:focus {
      background: #E9E9E9;
      color: dimgrey;
      outline: 0; }
    .BinaryFractionsMain__add-remove-button.button:active {
      background: lightgrey;
      color: dimgrey;
      outline: 0; }
