@import '../component-styles/base-styles.scss';
@import '../component-styles/fonts.scss';

.BinaryFractionsMain {
  transform: scale(1.0, 1.0);
  transform-origin: 50% 0%;

  &__reset-button.button {
    border-radius: $standard-border-radius;
  }

  &__value {
    font-size: 8em;
    font-family: 'Open Sans', sans-serif;
    color: $grey-0a;
    font-size: 6em;
  }

  &__bit-display {
    display: flex;
    justify-content: center;
  }

  &__dot {
    font-size: 8em;
    color: $grey-0a;
    width: .3em;
  }


}
