@import '../component-styles/fonts.scss';
@import '../component-styles/mixins.scss';

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid grey;

  .button {
    font-family: 'Open Sans', sans-serif;
  }

  @include phone-large {
    max-width: 28em;
  }

  @include low-res {
    max-width: 28em;
  }
}
