@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans");
.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .App .button {
    font-family: 'Open Sans', sans-serif; }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
    .App {
      max-width: 28em; } }
  @media (min-width: 75em) {
    .App {
      max-width: 28em; } }
