@import '../component-styles/fonts.scss';
@import '../component-styles/mixins.scss';

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid grey;

  .button {
    font-family: 'Open Sans', sans-serif;
  }

  @include low-res {
    display: flex;
    justify-content: center;
    max-width: 54em;
    font-size: 85%;
  }

  @include phone-large {
    display: flex;
    justify-content: center;
    max-width: 30em;
  }

  @include tablet-portrait {
    display: flex;
    justify-content: center;
    max-width: 54em;
  }
}
