.GameLevelsMenu__container {
  padding-bottom: 1.5em; }

.GameLevelsMenu__container .GameLevelsMenu__title {
  color: darkgrey; }

.GameLevelsMenu__container .button {
  background: transparent;
  color: darkgrey;
  margin-bottom: 0;
  flex: 0 0 40%;
  font-size: 0.9em;
  padding: 0.7em;
  border: 1px solid darkgrey;
  border-radius: 0.5rem; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .GameLevelsMenu__container .button {
    font-size: 1.05em;
    padding: 0.8em;
    margin: 0.1em 0; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .GameLevelsMenu__container .button {
    font-size: 1.3em; } }

@media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi) {
  .GameLevelsMenu__container .button {
    font-size: 1.0em;
    padding: 0.9em;
    margin: 0.1em 0; } }

.GameLevelsMenu__container .button:hover, .GameLevelsMenu__container .button:focus {
  background: #333;
  color: darkgrey;
  outline: 0; }

.GameLevelsMenu__container .button:active {
  background: dimgrey;
  color: darkgrey;
  outline: 0; }

.GameLevelsMenu__title {
  color: #A0A0A0;
  font-size: 1.2em; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .GameLevelsMenu__title {
    font-size: 1.6em; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .GameLevelsMenu__title {
    font-size: 1.7em; } }

.GameLevelsMenu__row {
  background: transparent;
  padding: 0.3em 0;
  display: flex;
  align-items: center;
  color: darkgrey; }

.GameLevelsMenu__row .GameLevelsMenu__label {
  flex: 0 0 30%;
  font-size: 0.85em; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .GameLevelsMenu__row .GameLevelsMenu__label {
    font-size: 1.0em;
    padding: 0 1em; } }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .GameLevelsMenu__row .GameLevelsMenu__label {
    font-size: 1.1em; } }

@media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi) {
  .GameLevelsMenu__row .GameLevelsMenu__label {
    font-size: 1.0em; } }
