@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$button-color: $main-color;
$button-radius: $standard-border-radius;
$button-active-color: $active-color;
$button-hover-color: $focus-color;

.GameLevelsMenu__container {

  padding-bottom: 1.5em;

  // display: flex
  .button {
    //background: $main-color;
    background: black;
    color: #888;
    margin-bottom: 0;
    flex: 0 0 40%;
    font-size: 0.9em;
    padding: 0.7em;
    border: 1px solid $main-color;
    border-radius: $button-radius;

    @include phone-large {
      font-size: 1.05em;
      padding: 0.8em;
      margin: 0.1em 0;
    }

    @include tablet-portrait {
      font-size: 1.3em;
    }

    @include low-res {
      font-size: 1.0em;
      padding: 0.9em;
      margin: 0.1em 0;
    }

    &:hover, &:focus {
      background: $button-hover-color;
      // border: 1px solid $button-hover-color;
      color: $button-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      // border: 1px solid $button-active-color;
      color: $button-color;
      outline: 0;
    }
  }
}

.GameLevelsMenu__title {
  color: $main-color;
  font-size: 1.2em;

  @include phone-large {
    font-size: 1.6em;
  }

  @include tablet-portrait {
    font-size: 1.7em;
  }
}

.GameLevelsMenu__row {
  background: black;
  padding: 0.3em 0;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  color: $button-color;

  .GameLevelsMenu__label {
    flex: 0 0 30%;
    font-size: 0.85em;

    @include phone-large {
      font-size: 1.0em;
      padding: 0 1em;
    }

    @include tablet-portrait {
      font-size: 1.1em;
    }

    @include low-res {
      font-size: 1.0em;
    }
    // flex: 1 1 30%;
    // width: 10em;
  }

  .GameLevelsMenu__button {

  }

}
