.NumberSettingsControls__container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2em; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .NumberSettingsControls__container {
    margin-bottom: 2em; } }
