.ColorCodeControl__container {

  .ColorCodeControl__label {
    font-size: 1.2rem;
    color: grey;
  }

  .ColorCodeControl__input {
    max-width: 10rem;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    color: #555;
  }
}
