@import '../base-styles.scss';

$button-radius: $standard-border-radius;
$button-width: 6rem;
$button-color: $grey-2;
$button-focus-color: $grey-9;
$button-active-color: $grey-6;

.ColorCodeControl__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ColorCodeControl__label {
    font-size: 1.2rem;
    color: $button-color;
  }
}

.ColorCodeControl__bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 100%;
  margin-bottom: 0;

  .button {
    width: $button-width;
    background: transparent;
    color: $button-color;
    margin-bottom: 0;
    flex: 1;
    font-size: 1.8rem;
    padding: 0.25rem 1rem 0 1rem;
    margin-left: 1rem;
    border-radius: $button-radius;

    &:hover, &:focus {
      background: $button-focus-color;
      color: $button-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: $button-color;
      outline: 0;
    }

    &--active {
      background: $button-active-color !important;
      color: $button-color !important;
    }
  }

  .ColorControls__delete-button-balance {
    width: $button-width;
    margin-right: 1rem;
    padding: 0.25rem 1rem 0 1rem;
    flex: 1;
  }
}

.ColorCodeComponentDisplay__container {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 3rem;
  border: 1px solid $button-color;
  border-radius: $button-radius;

  &:hover, &:focus {
    background: $button-focus-color;
    color: $button-color;
    outline: 0;
  }

  &:active {
    background: $button-active-color;
    color: $button-color;
    outline: 0;
  }
}
