.ColorCodeControl__container {

  .ColorCodeControl__label {
    font-size: 1.2rem;
    color: grey;
  }

  .ColorCodeControl__input {
    max-width: 10rem;
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    color: #555;
  }
}

.ColorCodeComponentDisplay__container {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  border: 1px solid grey;
}
