$standard-border-radius: .5rem;

// Colors

// Shades of grey - from darkest (1) to lightest (?)

$grey-1: dimgrey; // #696969
$grey-2: grey; // #808080
$grey-3: #909090;
$grey-4: #A0A0A0;
$grey-5: darkgrey; // #A9A9A9
$grey-6: silver; // #C0C0C0
$grey-7: lightgrey; // #D3D3D3
$grey-8: gainsboro; // #DCDCDC
$grey-9: #E9E9E9;
