@import '../base-styles.scss';

$button-radius: $standard-border-radius;
$button-color: $grey-2;
$button-focus-color: $grey-8;
$button-active-color: $grey-6;

.ColorComponentViewToggle {
  .button {
    background: transparent;
    color: $button-color;
    border-radius: $button-radius;
    // border: 1px solid $button-color;
    margin: 0;
    padding: .6rem;
    width: 12.5rem;

    &:hover, &:focus {
      background: $button-focus-color;
      color: $button-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: $button-color;
      outline: 0;
    }
  }
}
