@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
.ColorComponentViewToggle .button {
  background: transparent;
  color: grey;
  border-radius: 0.5rem;
  margin: 0;
  padding: .6em;
  width: 14em;
  font-size: .8em; }
  @media (min-width: 25em) {
    .ColorComponentViewToggle .button {
      margin: .3em;
      padding: .8em;
      width: 15em;
      font-size: .9em; } }
  .ColorComponentViewToggle .button:hover, .ColorComponentViewToggle .button:focus {
    background: gainsboro;
    color: grey;
    outline: 0; }
  .ColorComponentViewToggle .button:active {
    background: silver;
    color: grey;
    outline: 0; }
