@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$button-radius: $standard-border-radius;
$button-color: $grey-2;
$button-focus-color: $grey-8;
$button-active-color: $grey-6;

.ColorComponentViewToggle {
  .button {
    background: transparent;
    color: $button-color;
    border-radius: $button-radius;
    margin: 0;
    padding: .6em;
    width: 14em;
    font-size: .8em;

    @include phone-large {
      margin: .3em;
      padding: .8em;
      width: 15em;
      font-size: .9em;
    }

    &:hover, &:focus {
      background: $button-focus-color;
      color: $button-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: $button-color;
      outline: 0;
    }
  }
}
