@import '../component-styles/mixins.scss';
@import '../component-styles/base-styles.scss';
@import '../component-styles/fonts.scss';

.SouvlakiTitle {
  font-family: 'Averia Sans Libre', sans-serif;
  color: $grey-0a;
  padding-top: 0.2em;
  margin-bottom: 0;
  font-size: 1.8em;

  @include low-res {
    font-size: 2.4em;
  }

  @include phone-large {
    font-size: 2.2em;
  }

  @include tablet-portrait {
    font-size: 3.0em;
  }

  &--dot {
    color: $main-color;
  }

  &--io {
    color: $logo-secondary;
  }

  &--color {
    color: $grey-1;
    text-shadow: 0.02em 0.02em black; //#B72616;//#3F88C5;//#B72616;
  }

  &--coder {
    color: $grey-0b;
    text-shadow: 0.02em 0.02em black;//#B72616; //#3F88C5;//#7C8947;
  }

  &--R {
    color: $grey-0b;
    text-shadow: 0.02em 0.02em red;
  }

  &--G{
    color: $grey-0b;
    text-shadow: 0.02em 0.02em green;
  }

  &--B {
    color: $grey-0b;
    text-shadow: 0.02em 0.02em blue;
  }

  &--colors {
    color: $grey-1;
    text-shadow: 0.02em 0.02em #333; //#B72616;//#3F88C5;//#B72616;
  }

  // title used for main page (at least for temporary main page created early on)
  &--med-large {
    font-size: 2.4em;

    @include low-res {
      font-size: 3.5em;
    }

    @include phone-large {
      font-size: 3.3em;
    }

    @include tablet-portrait {
      font-size: 4.8em;
    }
  }

  &--large {
    font-size: 3em;

    @include low-res {
      font-size: 4em;
    }

    @include phone-large {
      font-size: 3.8em;
    }

    @include tablet-portrait {
      font-size: 5.5em;
    }
  }

}
