@import '../component-styles/mixins.scss';
@import '../component-styles/base-styles.scss';
@import '../component-styles/fonts.scss';

$text-shadow-size: 1px;
$rgb-letter-colors: $grey-3;

.SouvlakiTitle {
  font-family: 'Averia Sans Libre', sans-serif;
  color: $grey-0a;
  margin-bottom: 0;
  font-size: 1.8em;

  &--dark {
    color: $grey-3;
  }

  @include low-res {
    font-size: 2.4em;
  }

  @include phone-large {
    font-size: 2.2em;
  }

  @include tablet-portrait {
    font-size: 3.0em;
  }

  &--dot {
    color: $grey-1b;
  }

  &--io {
    color: $logo-secondary;
  }

  &--color {
    color: $grey-1;
    text-shadow: $text-shadow-size $text-shadow-size black; //#B72616;//#3F88C5;//#B72616;
  }

  &--color-dark {
    color: $grey-1;
    // text-shadow: $text-shadow-size $text-shadow-size $grey-8;
  }

  &--coder {
    color: $grey-3;
    text-shadow: $text-shadow-size $text-shadow-size black;//#B72616; //#3F88C5;//#7C8947;
  }

  &--coder-dark {
    color: $grey-5;
    // text-shadow: $text-shadow-size $text-shadow-size $grey-8;
  }

  &--R {
    color: $rgb-letter-colors;
    text-shadow: $text-shadow-size $text-shadow-size $red-for-dark-bg;
  }

  &--G{
    color: $rgb-letter-colors;
    text-shadow: $text-shadow-size $text-shadow-size $green-for-dark-bg;
  }

  &--B {
    color: $rgb-letter-colors;
    text-shadow: $text-shadow-size $text-shadow-size $blue-for-dark-bg;
  }

  &--colors {
    color: $grey-4;
    text-shadow: $text-shadow-size $text-shadow-size $grey-4; //#B72616;//#3F88C5;//#B72616;
  }

  // title used for main page (at least for temporary main page created early on)
  &--med-large {
    font-size: 2.4em;

    @include low-res {
      font-size: 3.5em;
    }

    @include phone-large {
      font-size: 3.3em;
    }

    @include tablet-portrait {
      font-size: 4.8em;
    }
  }

  &--large {
    font-size: 3em;

    @include low-res {
      font-size: 4em;
    }

    @include phone-large {
      font-size: 3.8em;
    }

    @include tablet-portrait {
      font-size: 5.5em;
    }
  }

}
