@import '../component-styles/mixins.scss';

.Header__container {

}

.Header__title {
  font-family: 'Open Sans', sans-serif;
  color: dimgrey;
  font-size: 1.5em;
  margin: 0;

  @include phone-large {
    font-size: 2.0em;
  }
}

//font-size: 3rem;
