.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header-container {
  background-color: white;
  height: 3rem;
}

.Header__title {
  color: dimgrey;
  font-size: 3rem;
  margin: 0;
}
