.ColorComponentSlider__container {
  display: flex;
}

.ColorComponentSlider__label {
  width: 4.4rem;
  height: 1.8rem;
  margin: .1rem .7rem;
}

.ColorComponentSlider__slider {
  width: 18rem;
}

.ColorComponentSlider__label-red {
  color: red;
  border: 1px solid red;
}

.ColorComponentSlider__label-green {
  color: green;
  border: 1px solid green;
}

.ColorComponentSlider__label-blue {
  color: blue;
  border: 1px solid blue;
}
