.ColorComponentSlider__container {
  display: flex;
  // border: 1px solid grey;
  border-radius: .5rem;
  padding: .1rem;
  margin: .3rem 0;
}

.ColorComponentSlider__label {
  width: 4.4rem;
  height: 1.8rem;
  // margin: .1rem .7rem;
  margin: .1rem .2rem;
  border-radius: .5rem;
}

.ColorComponentSlider__slider {
  width: 18rem;
}

.ColorComponentSlider__container--red {
  color: red;
  border: .15rem solid red;
}

.ColorComponentSlider__label--red {
  color: red;
}

.ColorComponentSlider__container--green {
  color: green;
  border: .15rem solid green;
}

.ColorComponentSlider__label--green {
  color: green;
}

.ColorComponentSlider__container--blue {
  color: blue;
  border: .15rem solid blue;
}

.ColorComponentSlider__label--blue {
  color: blue;
}
