@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$radius: $standard-border-radius;
$slider-background: $grey-6;
$slider-background-focus: $grey-7;

.ColorComponentSlider__container {
  display: flex;
  border-radius: $radius;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100%;

  @include phone-large {
    padding: .1em;
  }
}

.ColorComponentSlider__slider {
  -webkit-appearance: none;
  margin: 0;
  flex: 1 0 0%;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.4em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $slider-background;
    border-radius: $radius;
    border: 0.4em solid #ffffff;
  }
  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0.4rem rgba(155, 155, 155, 0.49), 0px 0px 0px rgba(168, 168, 168, 0.49);
    border: 0px solid #941e00;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.4em;
  }
  &.ColorComponentSlider__slider--red::-webkit-slider-thumb {
    background: red;
  }
  &.ColorComponentSlider__slider--green::-webkit-slider-thumb {
    background: green;
  }
  &.ColorComponentSlider__slider--blue::-webkit-slider-thumb {
    background: blue;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $slider-background-focus;
  }
  &::-moz-range-track {
    width: 100%;
    height: 1.4em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $slider-background;
    border-radius: $radius;
    border: .4em solid #ffffff;
  }
  &::-moz-range-thumb {
    box-shadow: 0px 0px 5.9px rgba(155, 155, 155, 0.49), 0px 0px 0px rgba(168, 168, 168, 0.49);
    border: 0px solid #941e00;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1.5em;
    cursor: pointer;
  }
  &.ColorComponentSlider__slider--red::-moz-range-thumb {
    background: rgba(255, 0, 0, 0.8);
  }
  &.ColorComponentSlider__slider--green::-moz-range-thumb {
    background: rgba(0, 255, 0, 0.8);
  }
  &.ColorComponentSlider__slider--blue::-moz-range-thumb {
    background: rgba(0, 0, 255, 0.8);
  }
  &::-ms-track {
    width: 100%;
    height: 1.5em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: $slider-background;
    border: 0.4em solid #ffffff;
    border-radius: 0.8em;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  &::-ms-fill-upper {
    background: $slider-background-focus;
    border: 0.4em solid #ffffff;
    border-radius: 0.8em;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  &::-ms-thumb {
    box-shadow: 0px 0px 0.5rem rgba(155, 155, 155, 0.49), 0px 0px 0px rgba(168, 168, 168, 0.49);
    border: 0px solid #941e00;
    width: 1.5em;
    border-radius: 1.5em;
    cursor: pointer;
    height: 1.5em;
  }
  &.ColorComponentSlider__slider--red::-ms-thumb {
    background: rgba(255, 0, 0, 0.8);
  }
  &.ColorComponentSlider__slider--green::-ms-thumb {
    background: rgba(0, 255, 0, 0.8);
  }
  &.ColorComponentSlider__slider--blue::-ms-thumb {
    background: rgba(0, 0, 255, 0.8);
  }
  &:focus::-ms-fill-lower {
    background: $slider-background;
  }
  &:focus::-ms-fill-upper {
    background: $slider-background-focus;
  }
}
