@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$button-radius: $standard-border-radius;
$button-color: $main-color;
$button-focus-color: $focus-color;
$button-active-color: $active-color;

.button.ColorToggleButton {
  height: 1.6em;
  margin: 0;
  border-radius: $button-radius;
  background-color: white;

  background: transparent;
  flex: 0 0 4em;
  font-size: 1em;
  padding: 0;

  @include phone-large {
    font-size: 1.2em;
    padding: .25em;
    margin: .1em .2em;
  }

  &:hover, &:focus {
    background: $button-focus-color;
    outline: 0;
  }

  &:active {
    background: $button-active-color;
  }

  &--red, &--red:hover, &--red:focus {
    color: $red-for-dark-bg;
  }

  &--green, &--green:hover, &--green:focus {
    color: $green-for-dark-bg;
  }

  &--blue, &--blue:hover, &--blue:focus {
    color: $blue-for-dark-bg;
  }

  &--toggled-off {
    text-decoration: line-through;
  }
}
