@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$button-radius: $standard-border-radius;
$button-color: $grey-2;
$button-focus-color: $grey-8;
$button-active-color: $grey-6;

.button.ColorToggleButton {
  // width: 8rem; //4.4rem
  height: 1.8rem; //1.8rem
  margin: 0; //.1rem .2rem
  border-radius: $button-radius;
  background-color: white;

  background: transparent;
  flex: 0 0 4rem;
  font-size: 1rem; //1.3rem
  padding: 0; //.25rem

  @include phone-large {
    font-size: 1.2rem;
    padding: .25rem;
    margin: .1rem .2rem;
  }

  &:hover, &:focus {
    background: $button-focus-color;
    outline: 0;
  }

  &:active {
    background: $button-active-color;
  }

  &--red, &--red:hover, &--red:focus {
    color: red;
  }

  &--green, &--green:hover, &--green:focus {
    color: green;
  }

  &--blue, &--blue:hover, &--blue:focus {
    color: blue;
  }

  &--toggled-off {
    text-decoration: line-through;
  }
}
