@import '../component-styles/base-styles.scss';
@import '../component-styles/mixins.scss';

$global-margin: 1rem;
$button-radius: $standard-border-radius;
$button-color: $main-color;
$button-focus-color: $focus-color;
$button-active-color: $active-color;

.ColorCodeButtonPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5em;
  border: 1px solid $button-color;
  border-radius: $button-radius;
  overflow: hidden;

  @include low-res {
    height: 6em;
  }

  @include phone-large {
    height: 7em;
  }

  &__top-row {
    display: flex;
    border-bottom: 1px solid $button-color;
    flex: 1 0 50%;
  }

  &__bottom-row {
    display: flex;
    flex: 1 0 50%;
  }

  &__single-row {
    display: flex;
    flex: 1;
  }

  .button {
    background: transparent;
    color: $button-color;
    margin-bottom: 0;
    flex: 1 0 0;
    // font-size: 1.3rem;
    padding: .25em;

    &.ColorCodeButtonPanel__button--binary {
      font-size: 2.4em;

      @include phone-large {
        font-size: 2.7em;
      }

      @include low-res {
        font-size: 2.7em;
      }
    }

    &.ColorCodeButtonPanel__button--hex{
      font-size: 1em;

      @include phone-large {
        font-size: 1.5em;
      }

      @include low-res {
        font-size: 1.3em;
      }
    }

    &:hover, &:focus {
      background: $button-focus-color;
      color: $button-color;
      outline: 0;
    }

    &:active {
      background: $button-active-color;
      color: $button-color;
      outline: 0;
    }

    &--active {
      background: $button-active-color !important;
      color: $button-color !important;
    }

    &:nth-child(1n + 1) {
      border-left: 1px solid $button-color;
    }

    &:nth-child(1) {
      border-left: none;
    }
  }
}
