.BitsPerComponentControl__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.BitsPerComponentControl__label {
  padding: .2rem;
  font-size: 1rem;
  color: #555;
}

.BitsPerComponentControl__button-2 {
  width: 5rem;
  margin: 0;
}

.BitsPerComponentControl__button-3 {
  width: 3.333rem;
  margin: 0;
}
