.BitsPerComponentControl__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.BitsPerComponentControl__label {
  padding: 0;
  font-size: .9em;
  color: #A0A0A0; }

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 25em), (min-resolution: 192dpi) and (min-width: 25em) {
  .BitsPerComponentControl__label {
    font-size: 1em; } }

.BitsPerComponentControl__button-2 {
  width: 4em;
  margin: 0; }

.BitsPerComponentControl__button-3 {
  width: 2.333em;
  margin: 0; }
