.NumberSystemControl__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.NumberSystemControl__label {
  padding: .2rem;
  font-size: 1rem;
}

.NumberSystemControl__button {
  width: 5rem;
}
