@import '../component-styles/base-styles.scss';

.BitPanelGroupWithLabels {
  display: flex;
  justify-content: center;
  perspective: 100em;
  transform-style: preserve-3d;
  flex-direction: row-reverse;
  // height: 12em;

  &--left-to-right {
    flex-direction: row;
  }
}

.BitPanelWithLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: -1;
  // cursor: pointer;

  &__power {
    // font-size: 1.7em;
    padding: 0.15em;
    color: $grey-0a;
    position: relative;
    cursor: pointer;

  }
}
